* {
  margin: 0;
  padding: 0;
}

/* nav */
.nav {
  height: 60px;
  background-color: #FF5959;
  display: flex;
}

.nav a, i {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.nav a {
  font-size: 20px;
  padding: 15px 0px 15px 40px;
}

.nav i {
  font-size: 40px;
  position: absolute;
  padding-top: 11px;
  right: 15px;
}

/* background */
body {
  background-color: #fff3e4;

}

h1 {
  clear: both;
}

main {
  /*한 줄씩 사용*/
  display: block;
}

.main1 {
  display: flex;
  justify-content: center;
}

.date {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  height: 80px;
  background-color: #FCD69C;
  border-radius: 40px 40px 40px 40px;
  align-items: center;
}

.card-date {
  margin: 0 30px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.left_btn {
  background: url("/img/left.png");
  width: 32px;
  height: 32px;
  border: 0;
  margin-top: 3px;
  margin-left: 10px;
}

.right_btn {
  background: url("/img/right.png");
  width: 32px;
  height: 32px;
  border: 0;
  margin-top: 3px;
  margin-right: 10px;
}

/* container 위치 잡기 */
.list {
  /* display: flex;
  justify-content: center; */
  width: 360px;
  height: 100%;
  margin-top: 30px;
  margin-left: 15%;
  /* list만 스크롤 가능하게 */
  /* overflow: scroll; */
}

/* Chrome 및 Safari 용 스크롤바 스타일 숨기기 */
/* .list::-webkit-scrollbar {
  display: none; 
} */

.target {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  height: 55px;
  width: 185px;
  background-color: #FCD69C;
  border-radius: 40px;
  align-items: center;
}

.target2 {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  height: 55px;
  width: 185px;
  background-color: #FCD69C;
  border-radius: 40px;
  align-items: center;
  margin-left: 15%;
}

.targetText {
  font-size: 24px;
  font-weight: bold;
}
.targetText2 {
  font-size: 24px;
  font-weight: bold;
}

.add_btn {
  background: url("/img/add.png");
  width: 24px;
  height: 24px;
  border: 0;
  margin-left: 10px;
}

.list_add_btn{
  background: url("/img/add.png");
  width: 24px;
  height: 24px;
  border: 0;
  margin-left: 10px;
}

/* ======== Calendar ======== */
.container {
  float: right;
  margin-right: 15%;
}

.cal-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 200px;
}

.my-calendar {
  border: solid 2px #FCD69C;
  border-radius: 8%;
  padding-top: 10px;
  width: 400px;
  margin-right: 20%;
}

/*캘린더 크기*/
.cal-table {
  width: 100%; 
}

.cal-table th,
.cal-table td {
  text-align: center;
}

/*달력 요일*/
.cal-table th {
  width: 14.2857%;
  font-size: 16px;
  font-weight: 800;
  color: #707070;
  
}

/*달력 일*/
.cal-table td {
  padding: 12px 0;
  height: 30px;
  font-size: 20px;
  color: #000000;
  font-weight: 500;
  vertical-align: middle;
  cursor: default;
}

/* 일이 클릭되었을 때 색*/
.cal-table td.today {
  background: #96d84b;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  color: #fff;
}

.cal-table td.day-active {
  background: #5fbff7;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  color: #fff;
}

/* 피자 base */
.pizzaimg {
  margin-top: 30px;
  width: 380px;
  height: 290px;
}

