* {
    margin: 0;
    padding: 0;
}

/* nav */
.nav {
    height: 60px;
    background-color: #FF5959;
    display: flex;
}

.nav a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding: 15px 0px 15px 40px;
}

/* background */
body {
    background-color: #fff3e4;

}
main{
    display: flex;
    justify-content: center;
}
.date{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    height: 80px;
    background-color: #FCD69C;
    border-radius: 40px 40px 40px 40px;
    align-items: center;
}
.datetext{
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    font-size: 1.7rem;
    font-weight: bold;
}
/* container 위치 잡기 */
